.container
{
    width: 1900px !important;
}
body
{
    background-color: #F1F3F6;
}
.col-lg-3, .col-lg-8
{
    background-color: white;
}
#section1
{
    margin:50px 0px;
}
#section1 .mainSectionBox
{
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
    padding:30px 20px;
}

#section1 ul li a
{
    color:rgba(0, 0, 0, 0.664);
    text-decoration: none;
}
#section1 .options
{
    font-size: 20px;
}
#section1 ul li
{
    list-style: none;
    margin:5px 0px;
}
.mainSectionBox
{
    margin:10px;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
}
.cardbox
{
    width: 30%;
   text-align: center;
    padding:10px;
    border-radius: 10px;
   position: relative;
    margin:20px 10px;

}
.cardbox:hover
{
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.253);
}
.pname a
{
    font-size: 22px;
    padding:10px 0px;
    font-weight: 600;
    color:black;
    text-decoration: none;
}
.pdesc
{
    font-size: 16px;
    color:rgba(0, 0, 0, 0.616);
}
.price
{
    font-size: 20px;
}
.price strike
{
    color:rgba(0, 0, 0, 0.616);
}
.rating i
{
    color:gold;
    margin:0px 2px;
}
.cards button
{
    border:none;
    background-color: transparent;
    font-size: 25px;
    position: absolute;
    top:10px;
    right:10px;

}
.addToCart
{
    font-size: 18px;
    color:white;
    background-color: #2874F0;
    padding:10px 30px;
    text-decoration: none;
    border-radius: 7px;
    display: inline-block;
}
.addToCart:hover{
    color:white;

}